@media print {
    body * {
        visibility: hidden;
    }

    .print-area,
    .print-area * {
        visibility: visible;
    }

    .print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}


.invoice-div #invoice-pdf-container {
    overflow: visible !important;
    width: 100% !important;
}

.invoice-div table {
    page-break-inside: avoid !important;
}