/* @media print {
    body * {
        visibility: hidden;
    }

    .print-area,
    .print-area * {
        visibility: visible;
    }

    .print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}


.invoice-div #invoice-pdf-container {
    overflow: visible !important;
    width: 100% !important;
}

.invoice-div table {
    page-break-inside: avoid !important;
}
 */

.invoice-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 8px 16px;
    font-family: sans-serif;
    font-size: 14px;
    background: white;
    border: 1px solid black;
    overflow-x: auto;
    border-radius: 5px;
    margin-left: 12px;
}

.invoice-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* border-bottom: 1px solid black; */
    padding-bottom: 10px;
    /* margin-bottom: 8px; */
}

@media (min-width: 768px) {
    .invoice-header {
        flex-direction: row;
        justify-content: space-between;
    }
    .invoice-container{
        margin-left: auto;
    }
}

.company-info {
    display: flex;
    gap: 8px;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    background: #16a34a;
    border-radius: 9999px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-details h2 {
    font-weight: bold;
    font-size: 16px;
}

.invoice-title {
    text-align: right;
    font-weight: bold;
    /* font-size: 18px; */
}

.invoice-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    border: 1px solid black;
    border-bottom: none;
    /* padding: 8px; */
    /* margin-bottom: 8px; */
    font-size: 12px;
}

@media (min-width: 768px) {
    .invoice-info {
        grid-template-columns: 1fr 1fr;
    }
}

.billing-shipping {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 8px; */
    /* border-bottom: 1px solid black; */
    padding-bottom: 8px;
    /* margin-bottom: 8px; */
}

.box {
    border: 1px solid black;
}

.box-title {
    background: #e5e7eb;
    padding: 4px 8px;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.box-body {
    padding: 4px 8px;
}

.bold {
    font-weight: bold;
}

.product-table-wrapper {
    overflow-x: auto;
    /* margin-bottom: 8px; */
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.product-table th,
.product-table td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

.product-table th {
    background: #f3f4f6;
}

.product-table td.text-left {
    text-align: left;
}

.totals-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 768px) {
    .totals-section {
        flex-direction: row;
        justify-content: space-between;
    }
}

.amounts {
    min-width: 200px;
    padding: 10px;
    font-size: 12px;
    border: solid black 1px;
}

.amounts>div {
    display: flex;
    justify-content: space-between;
}

.total {
    font-size: 16px;
    margin-top: 8px;
}

.balance {
    background: #f3f4f6;
    padding: 4px 0;
    margin-top: 8px;
}

.signature {
    text-align: right;
    /* margin-top: 16px; */
    /* width: 200px; */
    font-size: 12px;
    border: 1px solid black;
    border-top: none;
    padding-top: 4px;
}